<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>GOOGLE_CLIENT_ID</key>
    <string></string>
    <key>OPENAI_API_KEY</key>
    <string>REPLACE_ME</string>
    <key>GOOGLE_CLOUD_TTS_API_KEY</key>
    <string></string>
    <key>GOOGLE_CLOUD_TTS_ACCESS_TOKEN</key>
    <string></string>
    <key>GOOGLE_CLOUD_PROJECT_ID</key>
    <string></string>
    <key>GOOGLE_CLOUD_TTS_VOICE_MAYA</key>
    <string>en-GB-Chirp3-HD-Achernar</string>
    <key>GOOGLE_CLOUD_TTS_VOICE_JORDAN</key>
    <string>en-GB-Chirp3-HD-Orus</string>
    <key>GOOGLE_CLOUD_TTS_VOICE_SAM</key>
    <string>en-GB-Chirp3-HD-Orus</string>
    <key>GOOGLE_CLOUD_TTS_VOICE_ALEX</key>
    <string>en-GB-Chirp3-HD-Achernar</string>
    <key>GOOGLE_CLOUD_TTS_VOICE_DEFAULT</key>
    <string>en-GB-Chirp3-HD-Achernar</string>
    <key>ELEVENLABS_API_KEY</key>
    <string></string>
    <key>ELEVENLABS_MODEL_ID</key>
    <string>eleven_multilingual_v2</string>
    <key>ELEVENLABS_VOICE_ID_MAYA</key>
    <string></string>
    <key>ELEVENLABS_VOICE_ID_JORDAN</key>
    <string></string>
    <key>ELEVENLABS_VOICE_ID_SAM</key>
    <string></string>
    <key>ELEVENLABS_VOICE_ID_ALEX</key>
    <string></string>
    <key>ELEVENLABS_VOICE_ID_DEFAULT</key>
    <string></string>
    <key>DEEPSEEK_API_KEY</key>
    <string></string>
    <key>GOOGLE_AGENT_PLATFORM_API_KEY</key>
    <string></string>
    <key>GOOGLE_AGENT_PLATFORM_MODEL</key>
    <string>gemini-3.5-flash</string>
    <key>GEMINI_API_KEY</key>
    <string></string>
    <key>IM_CONTEXT_REGION</key>
    <string></string>
    <key>IM_CONTEXT_LOCATION</key>
    <string></string>
    <key>IM_CONTEXT_WEATHER</key>
    <string></string>
    <key>IM_CONTEXT_MAJOR_EVENTS</key>
    <string></string>
    <key>IM_CONTEXT_SOCIAL_PULSE</key>
    <string></string>
    <key>DEVELOPER_ACCOUNT_IDS</key>
    <array>
        <string></string>
    </array>
</dict>
</plist>
