<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- Replace with your AWS credentials -->
    <key>AWS_ACCESS_KEY_ID</key>
    <string>YOUR_ACCESS_KEY_ID</string>
    <key>AWS_SECRET_ACCESS_KEY</key>
    <string>YOUR_SECRET_ACCESS_KEY</string>
    <key>AWS_REGION</key>
    <string>eu-west-1</string>
    <!-- Optional session token if using temporary credentials -->
    <key>AWS_SESSION_TOKEN</key>
    <string></string>
</dict>
</plist>
