# Xcode build and user data
DerivedData/
build/
xcuserdata/
*.xcuserstate
.build/

# Local configuration files
Noum/Transcribe.plist
Noum/AIConfig.plist
Noum/GoogleService-Info.plist
Noum/BackendConfig.plist
Noum.xcodeproj/xcshareddata/xcschemes/Noum.xcscheme
Noum/test.swift
